{% extends "base.html" %}
{% block start %}

<div class = "container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {% if messages %}
      {{message.tags}}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
      {% endif %}

      {% comment %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li {% if message.tags %} class = "{{message.tags}}" {% endif %}> {{message}} </li>
        {% endfor %}
      </ul>
      {% endif %} {% endcomment %}
      <h2 class="text-center">Register</h2>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">FirstName</label>
        <input type="text" required name="first_name" class="form-control">
        {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">LastName</label>
        <input type="text" required name="last_name" class="form-control">
        {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" required name="username" class="form-control">
        {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" required name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p> Already have account <a href='/recipes/login/'> Login </a> </p>
    </form>
</div>

{% endblock %}