{% extends "base.html" %}
{% block navbar %}

<nav class="navbar bg-bg-body-secondary shadow-lg">
    <div class="container-fluid">
      <form class="d-flex ms-auto" role="search">
        {% if request.user.is_authenticated %}
        <a href="/recipes/logout/" class="btn btn-outline-success" type="submit">logout</a>
        {% else %}
        <a href="/recipes/login/" class="btn btn-outline-success" type="submit">login</a>
        {% endif %}
      </form>
    </div>
</nav>

{% endblock %}

{% block content %}
  {% block start %}{% endblock %}
{% endblock %}